<%= form_for(@container) do |f| %>

  <% if @container.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= pluralize(@container.errors.count, "error") %> prohibe crear este contenedor:
      </div>
      <div class="panel-body">
        <ul>
          <% @container.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Contenedor
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                    <%= f.label 'Nombre de contenedor' %><br>

                    <%= f.select(:name,  options_for_select(container_form_name),  {prompt: 'Seleccione un nombre'},{ :class => 'form-control' }) %>
                    <br>


                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <%= f.submit 'Crear contenedor' , :class => 'btn btn-primary btn-sm' %>
          </div>
        </div>

      </div>
    </div>

<% end %>
