<h1>Listing logi_bills</h1>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-lg-2">
            Cuentas
          </div>
          <div class="col-lg-10 text-right">
            <%= link_to 'Nueva cuenta', new_logi_bill_path %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Numero</th>
                  <th>Total</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @logi_bills.each do |logi_bill| %>
                  <tr>
                    <td><%= logi_bill.name %></td>
                    <td><%= logi_bill.endNumber %></td>
                    <td><%= logi_bill.get_total_bill %></td>
                    <td><%= link_to 'Show', logi_bill %></td>
                    <td><%= link_to 'Edit', edit_logi_bill_path(logi_bill) %></td>
                    <td><%= link_to 'Destroy', logi_bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
