<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= pluralize(@car.errors.count, "error") %> prohibe que este carro sea creado:
      </div>
      <div class="panel-body">
        <ul>
          <% @car.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="field">
    <%= f.label 'Placa' %><br>
    <%= f.text_field :plate %>
  </div>
  <div class="field">
    <%= f.label 'Modelo' %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label 'Color' %><br>
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
